body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #904255;
	font-size: 18px;
}

h1, h2, h3, h4 ,h5, h6 {
    padding: 0;
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.fon {
	background: url('../img/fon.png') no-repeat center top / cover;
}
.fon2 {
	background: url('../img/fon2.png') no-repeat center top / cover;
}
.fon4 {
	background: url('../img/fon4.png') no-repeat center top / cover;
}

header a {
	color: #EBBE49;
}

.menu {
	display: flex;
	font-weight: 400;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu li a{
text-decoration: none;
font-size: 18px;
font-weight: 600;
}
a:hover {
color: #904255;
}

.menu li {
	margin-right: 25px;
}
.registr {
	display: flex;
	align-items: center;
	margin-left: auto;
	font-weight: 400;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo {
	margin-right: 20px;
}

.face {
	color: #904255;
	font-weight: 800;
	border-bottom: 2px solid #904255;
}
.list {
	color: #904255;
	font-weight: 800;
	border-bottom: 2px solid #904255;
}
.registr li a {
	text-decoration: none;
	font-size: 18px;
}
.registrsvg {
	margin-right: 10px;
} 
.registrword {
	margin-right: 50px;
	font-weight: 600;	
}
.bascket {
	font-weight: 600;
}
.bascketsvg {
	margin-right: 10px;
}
.registrword2 {
	color: #904255;
	font-weight: 600;
	margin-right: 50px;
	border-bottom: 2px solid #904255;
	font-size: 18px;
}
.nav {
	display: flex;
	align-items: center;
	padding-top: 34px;
}

.offer {
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #EBBE49;
}
.h1 {
	margin-top: 250px;
	font-weight: 900;
	font-size: 44px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #EBBE49;
}
.h2 {
	margin-top: 80px; 
	font-weight: 900;
	font-size: 40px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.p1 {
	margin-top: 45px;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 44px;
}
.button {
	display: block;
	width: 268px;
	height: 50px;
	border-radius: 50px;
	background: #904255;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	color: #EBBE49;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	text-align: center;
	padding-top: 22px;
}
.button:hover {
color: #904255; 
background-color: #EBBE49; 
transition: all .3s linear;
}
.newgame {
	margin-top: 40px;
}
section a {
	color: #904255;
}
section a:hover {
color: #EBBE49;
}
.product {
	flex-direction: column;
}
.product li a{
display: flex;
align-items: center;
text-decoration: none;
font-size: 30px;
font-weight: 800;
}
a:hover {
color: #904255;
}
.product li {
	margin-top: 60px;
}
.h21 {
	margin-top: 59px;
	font-weight: 900;
    font-size: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.free {
	margin-top: 40px;
}

form input {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    font-size: 24px;
	width: 417.5px;
	background-color: #00ffff00;
	border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2.5px solid #904255;
    line-height: 35px;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-weight: 700;
    font-size: 24px;
    color: #904255;
}
 
.group1 {
	margin-top: 110px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.group2 {
	margin-top: 89px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.group3 {
	margin-top: 89px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.group4 {
	margin-top: 89px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.buttonsend {
	color: #EBBE49;
	font-weight: bold;
	font-size: 22px; 
    width: 201px;
    height: 55px;
    border: 1px solid #f0f8ff00;
    background: #904255;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 32px;
}
button:hover {
color: #904255;
background-color: #EBBE49;
transition: all .3s linear;
}
.buttonmenu {
    border: 1px solid #f0f8ff00;
    background: #f0f8ff00;
    cursor: pointer;
    display: none;
}
.buttonmenu:hover {
background-color: #f0f8ff00;
transition: all .3s linear;
}
.burger{
	width: 40px;
	height: 40px;
}

.header .show-menu {
	display: block;
	position: absolute;
 	background: rgb(0,0,0,0.8);
 	width: 50%;
 	top: 0;
 	padding-left: 20px;
}
.header .show-menu2 {
	display: block;
	position: absolute;
 	background: rgb(0,0,0,0.8);
 	width: 50%;
 	top: 120px;
 	padding-left: 20px;
 	padding-bottom: 10px;
}
.send {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	color: #fff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: bold;
	font-size: 20px;
}
.kurs {
	margin-left: 3px;
}

.checkbox{
width: 40px;
height: 40px;
opacity: 0.8
}
.ruleword {
	color: #EBBE49;
    font-weight: 800;
    font-size: 24px;
}

/*-----------------------------------------------------------------------*/
.niz {
	display: flex;
	align-items: center;
	margin-top: 315px;
	padding-bottom: 26px;
}
.niz2 {
	display: flex;
	align-items: center;
	margin-top: 155px;
	padding-bottom: 26px;
}
.minilogo {
	margin-right: 74px;
}
.contact {
	display: flex;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact li {
	margin-right: 71px;
}
.contact li a{
text-decoration: none;
font-weight: 800;
font-size: 16px;
color: #904255;
}
.error {
	display: block;
	position: absolute;
 	background: rgb(0,0,0,0);
 	width: 500px;
 	height: 70px;
 	margin-top: 20px;
 	font-weight: 500;
    font-size: 30px;
    color: red;
}
#mySearch {
	margin-top: 25px;
  width: 100%;
  font-size: 24px;
  padding: 11px;
  border: 1px solid #ddd;
  background-color: #00ffff00;
  color: #904255;
}
#myMenu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
    font-size: 24px;
}
#myMenu li a {
align-items: center;
  padding: 12px;
  text-decoration: none;
  color: #904255;
  display: block
}
#myMenu li a:hover {
  color: #EBBE49;
}

@media screen and (max-width: 1200px){
	.container {
		width: 1140px;
	}
}

@media screen and (max-width: 1199px){
	.container {
		width: 960px;
	}
	.menu li a{
		font-size: 16px;
	}
	.menu li {
		margin-right: 20px;
	}
	.logo {
		margin-right: 10px;
		width: 150px;
	}
	.registr li a {
		font-size: 16px;
	}
	.registrsvg {
		margin-right: 10px;
		width: 40px;
	} 
	.registrword {
		margin-right: 25px;
	}
	.registrword2 {
		margin-right: 25px;
		border-bottom: 2px solid #904255;
		}
	.bascketsvg {
		 margin-right: 10px;
		 width: 40px;
	}
	.h1 {
		font-size: 40px;
	}
	.p1 {
		font-size: 20px;
	}
	.button {
		width: 220px;
		height: 50px;
		font-size: 19px;
		padding-top: 24px;
	}
	.niz {
		padding-bottom: 18px;
	}
	.minilogo {
		width: 70px;
	}
	.contact li {
		margin-right: 60px;
	}
	.contact li a{
		font-size: 10px;
	}
}

@media screen and (max-width: 991px){
	.product li a{
display: flex;
align-items: center;
text-decoration: none;
font-size: 18px;
font-weight: 600;
color: #EBBE49;
}
form input {
	background-color: #EBBE49;
    border-bottom: 2.5px solid #EBBE49;
}
::-webkit-input-placeholder {
    color: #EBBE49;
}
	.container {
		width: 720px;
	}
	.menu li a{
		font-size: 12px;
	}
	.menu li {
		margin-right: 15px;
	}
	.logo {
		margin-right: 5px;
		width: 120px;
	}
	.registr li a {
		font-size: 12px;
	}
	.registrsvg {
		margin-right: 5px;
		width: 30px;
	} 
	.registrword {
		margin-right: 20px;
	}
	.bascketsvg {
		 margin-right: 5px;
		 width: 30px;
	}
	.h1 {
		font-size: 30px;
	}
	.p1 {
		font-size: 15px;
	}
	.button {
		width: 190px;
		height: 40px;
		font-size: 16px;
		padding-top: 20px;
	}
	.niz {
		padding-bottom: 14px;
	}
	.minilogo {
		width: 60px;
		margin-right: 60px;
	}
	.contact li {
		margin-right: 30px;
	}
	.contact li a{
		font-size: 8px;
	}
	.h2 {
		font-size: 30px;
		text-align: center;
	}
	.product {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.product li {
		margin-bottom: 15px;
	}
	form input {
	    font-size: 20px;
		width: 320px;
		background-color: #00ffff00;
	}
	::-webkit-input-placeholder {
	    font-size: 20px;
	}
	.group1, .group2, .group3 {
		margin-top: 110px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.group4{
		margin-top: 110px;
		display: flex;
		flex-direction: column;
	}
	.buttonsend {
	    width: 150px;
	    height: 45px;
		font-size: 18px; 
	}
	.send {
	font-size: 20px;
	}
	.kurs {
		margin-left: 3px;
	}
	.checkbox{
		width: 30px;
		height: 30px;
		opacity: 0.8
	}
	.ruleword {
	    font-size: 20px;
	}
		.fon{
		background: url('../img/fon3.png') no-repeat center top / cover;
	}
	.fon2 {
		background: url('../img/fon3.png') no-repeat center top / cover;
	}
		.fon4 {
		background: url('../img/fon3.png') no-repeat center top / cover;
	}
	}

@media screen and (max-width: 767px){
	.container {
		width: 540px;
	}
	.menu {
		display: none;
	}
	.registr {
		display: none;
	}
	.fon{
		background: url('../img/fon3.png') no-repeat center top / cover;
	}

	.offer {
		text-align: center;
	}
	.button{
		width: 175px;
		height: 40px;
		font-size: 16px;
		padding-top: 20px;
	     margin-left: auto;
	     margin-right: auto;
	}
	.buttonmenu {
	    display: block;
	    margin-left: auto;
	    margin-right: 10px;
	}
}

@media screen and (max-width: 575px){
	.container {
		width: 100%;
	}
	.menu {
		display: none;
	}
	.registr {
		display: none;
	}
	.offer {
		text-align: center;
	}
	.button{
	    margin-left: auto;
	    margin-right: auto;
	}
	.minilogo {
		width: 50px;
		margin-right: 30px;
	}
	.contact li {
		margin-right: 10px;
	}
	.contact li a{
		font-size: 5px;
	}
	.nav {
		padding-top: 0px;
	}
	.checkbox{
		width: 25px;
		height: 25px;
	}
	.ruleword {
    	font-size: 15px;
	}
	.buttonsend {
	    width: 125px;
	    height: 40px;
		font-size: 15px;
  	}
	.send {
		font-size: 16px;
	}
	.group1, .group2, .group3, .group4 {
		margin-top: 90px;
	}
	::-webkit-input-placeholder {
    	font-size: 18px;
	}
	form input {
	    font-size: 18px;
		width: 200px;
	}
	.logo {
		margin-left: 10px;
		margin-top: auto;
	}
	.buttonmenu {
	    display: block;
	    margin-top: auto;
	    margin-left: auto;
	    margin-right: 10px;
	}
	.registrsvg, .bascketsvg {
		display: none;
	} 
	.registrword, .registrword2 {
		font-weight: 500;	
	}
	.nav {
		display: flex;
		align-items: center;
		padding-top: 34px;
		font-size: 25px;
	}
}

@media screen and (max-width: 400px){
	.container {
		width: 100%;
	}
	.group1, .group2,.group3, .group4{
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	form input {
		margin-top: 60px;
	}
	.buttonsend {
		margin-top: 60px;
	}
	.niz, .niz2 {
		margin-left: 5px;
		padding-bottom: 10px;
	}
	.minilogo {
		width: 40px;
		margin-right: 15px;
	}
	.contact li a{
	font-size: 4px;
	}
}